openapi: 3.2.0
info:
  title: My Title Identity API
  version: 1.0.0
servers:
- url: https://eggtransport.chaldal.com
tags:
- name: Identity
paths:
  /api/Identity/GetDeliveryAreas:
    get:
      tags:
      - Identity
      operationId: Identity_GetDeliveryAreas
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryArea'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryArea'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryArea'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryArea'
      summary: Identity get delivery areas
      x-summary-source: derived
  /api/Identity/SearchForIdentityInMyOrg:
    post:
      tags:
      - Identity
      operationId: Identity_SearchForIdentityInMyOrg
      parameters:
      - name: phoneNumber
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Possibly Profile and Addresses
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto'
        '403':
          description: Not authorized to view customers for Org
        '401':
          description: Not logged in
      summary: Identity search for identity in my org
      x-summary-source: derived
  /api/Identity/GetAddressInfoFromAddressIdInMyOrg:
    get:
      tags:
      - Identity
      operationId: Identity_GetAddressInfoFromAddressIdInMyOrg
      parameters:
      - name: addressId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Address Info
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressInfoDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/AddressInfoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressInfoDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressInfoDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized to view customer Info
      summary: Identity get address info from address id in my org
      x-summary-source: derived
  /api/Identity/GetAddressInfoListFromAddressIdListInMyOrg:
    get:
      tags:
      - Identity
      operationId: Identity_GetAddressInfoListFromAddressIdListInMyOrg
      parameters:
      - name: addressIdList
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Address Infos
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressInfoDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressInfoDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressInfoDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressInfoDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized to view customer Info
      summary: Identity get address info list from address id list in my org
      x-summary-source: derived
components:
  schemas:
    ConfidenceLevelDto:
      type: object
    AddressInfoDto:
      type: object
      required:
      - identity
      properties:
        address:
          $ref: '#/components/schemas/AddressIdDto'
        identity:
          type: string
          format: guid
        fullName:
          type: string
        streetAddress:
          type: string
        phoneNumber:
          type: string
        deliveryArea:
          $ref: '#/components/schemas/DeliveryAreaDto'
        customerHub:
          type: string
        geoLocation:
          $ref: '#/components/schemas/FSharpOptionOfGeoLocationDto'
        confidenceLevel:
          $ref: '#/components/schemas/ConfidenceLevelDto'
    DeliveryAreaId:
      type: object
    DeliveryAreaIdDto:
      type: object
    AddressIdDto:
      type: object
    DeliveryArea:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DeliveryAreaId'
        name:
          type: string
    FSharpOptionOfGeoLocationDto:
      type: object
    FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto:
      type: object
    DeliveryAreaDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DeliveryAreaIdDto'
        name:
          type: string
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
