openapi: 3.2.0
info:
  title: My Title Organization API
  version: 1.0.0
servers:
- url: https://eggtransport.chaldal.com
tags:
- name: Organization
paths:
  /api/Organization/CreateOrganization:
    post:
      tags:
      - Organization
      operationId: Organization_CreateOrganization
      responses:
        '200':
          description: Creates a new Organization and assigns a manager to the organization
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            text/csv:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '401':
          description: Not logged in
        '500':
          description: Insert Organization operation failed
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrganizationDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OrganizationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrganizationDto'
        required: true
      summary: Organization create organization
      x-summary-source: derived
  /api/Organization/GetOrgStatus:
    post:
      tags:
      - Organization
      operationId: Organization_GetOrgStatus
      responses:
        '200':
          description: Retrives Organization status
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfOrgVerificationStatusDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfOrgVerificationStatusDto'
            application/json:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfOrgVerificationStatusDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FSharpOptionOfOrgVerificationStatusDto'
        '401':
          description: Not logged in
        '400':
          description: OrgId does not exist
      summary: Organization get org status
      x-summary-source: derived
  /api/Organization/AddOrgPickupPoint:
    post:
      tags:
      - Organization
      operationId: Organization_AddOrgPickupPoint
      responses:
        '200':
          description: Creates a new Address and assigns it to an organization
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            text/csv:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '401':
          description: Not logged in
        '500':
          description: Insert Address operation failed
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrgPickupPointDto'
          application/json:
            schema:
              $ref: '#/components/schemas/OrgPickupPointDto'
          text/json:
            schema:
              $ref: '#/components/schemas/OrgPickupPointDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrgPickupPointDto'
        required: true
      summary: Organization add org pickup point
      x-summary-source: derived
  /api/Organization/GetOrgPickupPoints:
    get:
      tags:
      - Organization
      operationId: Organization_GetOrgPickupPoints
      responses:
        '200':
          description: Fetches addresses of an organization
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            text/csv:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '401':
          description: Not logged in
      summary: Organization get org pickup points
      x-summary-source: derived
  /api/Organization/GetOrgPickupPointByTrackingRef:
    get:
      tags:
      - Organization
      operationId: Organization_GetOrgPickupPointByTrackingRef
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Fetches address by tracking ref
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            text/csv:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '401':
          description: Not logged in
        '404':
          description: No address found
      summary: Organization get org pickup point by tracking ref
      x-summary-source: derived
components:
  schemas:
    FSharpOptionOfString:
      type: object
    OrgPickupPointDto:
      type: object
      required:
      - deliveryAreaId
      properties:
        pickupPointName:
          type: string
        address:
          type: string
        deliveryAreaId:
          type: integer
          format: int32
        phone:
          type: string
    BusinessTypeDto:
      type: object
    FSharpOptionOfBkashDetailsDto:
      type: object
    OrganizationDto:
      type: object
      properties:
        businessDetails:
          $ref: '#/components/schemas/BusinessDetailsDto'
        businessType:
          $ref: '#/components/schemas/BusinessTypeDto'
        paymentType:
          $ref: '#/components/schemas/PaymentTypeDto'
        bKashDetails:
          $ref: '#/components/schemas/FSharpOptionOfBkashDetailsDto'
        bankDetails:
          $ref: '#/components/schemas/FSharpOptionOfBankDetailsDto'
        idType:
          $ref: '#/components/schemas/MerchantIDTypeDto'
        nidFront:
          $ref: '#/components/schemas/FSharpOptionOfString'
        nidBack:
          $ref: '#/components/schemas/FSharpOptionOfString'
        passport:
          $ref: '#/components/schemas/FSharpOptionOfString'
        birthCertificate:
          $ref: '#/components/schemas/FSharpOptionOfString'
    BusinessDetailsDto:
      type: object
      required:
      - deliveryAreaId
      properties:
        ownersName:
          type: string
        email:
          type: string
        phone:
          type: string
        businessName:
          type: string
        address:
          type: string
        deliveryAreaId:
          type: integer
          format: int32
        businessUrl:
          type: string
    MerchantIDTypeDto:
      type: object
    PaymentTypeDto:
      type: object
    FSharpOptionOfBankDetailsDto:
      type: object
    FSharpOptionOfOrgVerificationStatusDto:
      type: object
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
