openapi: 3.2.0
info:
  title: My Title Accounts API
  version: 1.0.0
servers:
- url: https://eggtransport.chaldal.com
tags:
- name: Accounts
paths:
  /api/Accounts/GetCurrentOrgAccountingTransactionsForDateRange:
    get:
      tags:
      - Accounts
      operationId: Accounts_GetCurrentOrgAccountingTransactionsForDateRange
      parameters:
      - name: startTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/AccountDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
      summary: Accounts get current org accounting transactions for date range
      x-summary-source: derived
  /api/Accounts/GetPaymentHistoryForMyOrg:
    get:
      tags:
      - Accounts
      operationId: Accounts_GetPaymentHistoryForMyOrg
      parameters:
      - name: startTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        schema:
          type: string
          format: date-time
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
      summary: Accounts get payment history for my org
      x-summary-source: derived
  /api/Accounts/GetBillsForMyOrg:
    get:
      tags:
      - Accounts
      operationId: Accounts_GetBillsForMyOrg
      parameters:
      - name: startTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        schema:
          type: string
          format: date-time
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDto'
      summary: Accounts get bills for my org
      x-summary-source: derived
  /api/Accounts/GetBillItemsForMyBill:
    get:
      tags:
      - Accounts
      operationId: Accounts_GetBillItemsForMyBill
      parameters:
      - name: billId
        in: query
        schema:
          type: integer
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillItemDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillItemDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillItemDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillItemDto'
      summary: Accounts get bill items for my bill
      x-summary-source: derived
components:
  schemas:
    FSharpOptionOfString:
      type: object
    AccountDto:
      type: object
      properties:
        accountPeriodSummaryDto:
          $ref: '#/components/schemas/AccountPeriodSummaryDto'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TxnDto'
    TaskDto:
      type: object
      required:
      - cashToCollect
      - stockValue
      properties:
        trackingRef:
          type: string
        merchantRef:
          type: string
        physique:
          $ref: '#/components/schemas/PhysiqueDto'
        addressInfo:
          $ref: '#/components/schemas/AddressInfoDto'
        slotStart:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        slotEnd:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        cashToCollect:
          type: number
          format: decimal
        stockValue:
          type: number
          format: decimal
        weight:
          type: string
        status:
          type: string
        taskType:
          type: string
        merchantHub:
          $ref: '#/components/schemas/FSharpOptionOfString'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/TaskNoteDto'
    AddressInfoDto:
      type: object
      required:
      - identity
      properties:
        address:
          $ref: '#/components/schemas/AddressIdDto'
        identity:
          type: string
          format: guid
        fullName:
          type: string
        streetAddress:
          type: string
        phoneNumber:
          type: string
        deliveryArea:
          $ref: '#/components/schemas/DeliveryAreaDto'
        customerHub:
          type: string
        geoLocation:
          $ref: '#/components/schemas/FSharpOptionOfGeoLocationDto'
        confidenceLevel:
          $ref: '#/components/schemas/ConfidenceLevelDto'
    ConfidenceLevelDto:
      type: object
    PhysiqueDto:
      type: object
      x-abstract: true
    DeliveryAreaIdDto:
      type: object
    DeliveryAreaDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DeliveryAreaIdDto'
        name:
          type: string
    AddressIdDto:
      type: object
    BillItemDto:
      type: object
      required:
      - deliveryCharge
      - cashCollected
      - serviceCharge
      - stockValueCompensated
      properties:
        description:
          type: string
        task:
          $ref: '#/components/schemas/TaskDto'
        deliveryCharge:
          type: number
          format: decimal
        cashCollected:
          type: number
          format: decimal
        serviceCharge:
          type: number
          format: decimal
        stockValueCompensated:
          type: number
          format: decimal
        customerHub:
          type: string
        deliveryArea:
          type: string
    TxnDto:
      type: object
      required:
      - 'on'
      - amount
      - stockValue
      - moneyBalance
      - stockBalance
      - sequenceNum
      properties:
        'on':
          type: string
          format: date-time
        amount:
          type: number
          format: decimal
        stockValue:
          type: number
          format: decimal
        moneyBalance:
          type: number
          format: decimal
        stockBalance:
          type: number
          format: decimal
        sequenceNum:
          type: integer
          format: int32
        memo:
          type: string
        category:
          type: string
    TaskNoteDto:
      type: object
      required:
      - noteId
      - createdOn
      - createdBy
      properties:
        noteId:
          type: string
          format: guid
        createdOn:
          type: string
          format: date-time
        createdBy:
          type: string
          format: guid
        note:
          type: string
    FSharpOptionOfGeoLocationDto:
      type: object
    BillDto:
      type: object
      required:
      - billId
      - createdOn
      - total
      - lastActionOn
      properties:
        billId:
          type: integer
        createdOn:
          type: string
          format: date-time
        status:
          type: string
        settlementMemo:
          $ref: '#/components/schemas/FSharpOptionOfString'
        settlementImageUri:
          $ref: '#/components/schemas/FSharpOptionOfString'
        total:
          type: number
          format: decimal
        billItems:
          type: array
          items:
            $ref: '#/components/schemas/BillItemDto'
        lastActionOn:
          type: string
          format: date-time
    FSharpOptionOfDateTimeOffset:
      type: object
    AccountPeriodSummaryDto:
      type: object
      required:
      - earliestTxnDate
      - moneyBalance
      - stockBalance
      - holdBalance
      - availableBalance
      - periodOpeningBalance
      - periodClosingBalance
      properties:
        earliestTxnDate:
          type: string
          format: date-time
        moneyBalance:
          type: number
          format: decimal
        stockBalance:
          type: number
          format: decimal
        holdBalance:
          type: number
          format: decimal
        availableBalance:
          type: number
          format: decimal
        periodOpeningBalance:
          type: number
          format: decimal
        periodClosingBalance:
          type: number
          format: decimal
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
