openapi: 3.2.0
info:
  title: My Title Task API
  version: 1.0.0
servers:
- url: https://eggtransport.chaldal.com
tags:
- name: Task
paths:
  /api/Task/GetQrCodeBinary:
    get:
      tags:
      - Task
      operationId: Task_GetQrCodeBinary
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      - name: side
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Binary PNG Image
          content:
            text/plain:
              schema:
                type: string
                format: byte
            text/csv:
              schema:
                type: string
                format: byte
            application/json:
              schema:
                type: string
                format: byte
            text/json:
              schema:
                type: string
                format: byte
        '401':
          description: Not logged in
        '404':
          description: Invalid TrackingRef
        '400':
          description: Invalid Dimensions
      summary: Task get qr code binary
      x-summary-source: derived
  /api/Task/GetTaskStatus:
    get:
      tags:
      - Task
      operationId: Task_GetTaskStatus
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Simplified Task Status
          content:
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '404':
          description: Invalid TrackingRef
      summary: Task get task status
      x-summary-source: derived
  /api/Task/GetTasks:
    post:
      tags:
      - Task
      operationId: Task_GetTasks
      responses:
        '200':
          description: Tasks By Tracking Ref
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndTaskDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndTaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndTaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndTaskDto'
        '401':
          description: Not logged in
        '403':
          description: No access to task
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
        required: true
      summary: Task get tasks
      x-summary-source: derived
  /api/Task/GetTasksStatuses:
    post:
      tags:
      - Task
      operationId: Task_GetTasksStatuses
      parameters:
      - name: trackingRefsCsv
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Task status by tracking ref
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndString'
            text/csv:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndString'
            application/json:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndString'
            text/json:
              schema:
                $ref: '#/components/schemas/FSharpMapOfStringAndString'
        '400':
          description: No tracking refs specified
      summary: Task get tasks statuses
      x-summary-source: derived
  /api/Task/CreateThirdPartyDeliveryTask:
    post:
      tags:
      - Task
      operationId: Task_CreateThirdPartyDeliveryTask
      responses:
        '200':
          description: Task Tracking Ref
          content:
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: ''
        '401':
          description: Not logged in
        '403':
          description: Not authorized to Create shipments for Org
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
        required: true
      summary: Task create third party delivery task
      x-summary-source: derived
  /api/Task/CreateThirdPartyPickUpTask:
    post:
      tags:
      - Task
      operationId: Task_CreateThirdPartyPickUpTask
      responses:
        '200':
          description: Task Tracking Ref
          content:
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: ''
        '401':
          description: Not logged in
        '403':
          description: Not authorized to Create shipments for Org
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TaskCreateDto'
        required: true
      summary: Task create third party pick up task
      x-summary-source: derived
  /api/Task/CreateThirdPartyExchangeTask:
    post:
      tags:
      - Task
      operationId: Task_CreateThirdPartyExchangeTask
      responses:
        '200':
          description: Task Tracking Refs
          content:
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: ''
        '401':
          description: Not logged in
        '403':
          description: Not authorized to Create shipments for Org
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExchangeTaskCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeTaskCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ExchangeTaskCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExchangeTaskCreateDto'
        required: true
      summary: Task create third party exchange task
      x-summary-source: derived
  /api/Task/SearchTasksForMyOrg:
    get:
      tags:
      - Task
      operationId: Task_SearchTasksForMyOrg
      parameters:
      - name: searchText
        in: query
        schema:
          type: string
      - name: taskType
        in: query
        schema:
          type: string
      - name: fromDate
        in: query
        schema:
          type: string
      - name: toDate
        in: query
        schema:
          type: string
      - name: highLevelStatus
        in: query
        schema:
          type: string
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paginated Results
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
        '401':
          description: Not logged in
      summary: Task search tasks for my org
      x-summary-source: derived
  /api/Task/OrgCancelTask:
    post:
      tags:
      - Task
      operationId: Task_OrgCancelTask
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Cancelled Task
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TaskDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/TaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDto'
        '404':
          description: Invalid TrackingRef
        '412':
          description: Task's current state does not allow this action
        '400':
          description: Invalid request params
        '401':
          description: Not logged in
        '403':
          description: Not allowed to perform this action
        '409':
          description: Concurrent modification
      summary: Task org cancel task
      x-summary-source: derived
  /api/Task/ValidateTaskImportCsv:
    post:
      tags:
      - Task
      operationId: Task_ValidateTaskImportCsv
      responses:
        '200':
          description: '`ValidatedRow`s'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatedRow'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatedRow'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatedRow'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatedRow'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
        required: true
      summary: Task validate task import csv
      x-summary-source: derived
  /api/Task/ImportTasksToMyOrg:
    post:
      tags:
      - Task
      operationId: Task_ImportTasksToMyOrg
      responses:
        '204':
          description: Success
        '400':
          description: When CSV has validation errors (if CSV is parsable, ValidatedRows are returned)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatedRow'
        '401':
          description: When unauthenticated
        '403':
          description: When not authorized
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BulkTaskUploadDto'
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTaskUploadDto'
          text/json:
            schema:
              $ref: '#/components/schemas/BulkTaskUploadDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkTaskUploadDto'
        required: true
      summary: Task import tasks to my org
      x-summary-source: derived
  /api/Task/GetUnconsolidatedTasksForMyOrg:
    get:
      tags:
      - Task
      operationId: Task_GetUnconsolidatedTasksForMyOrg
      parameters:
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paginated Tasks
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized
      summary: Task get unconsolidated tasks for my org
      x-summary-source: derived
  /api/Task/GetTasksWithFailureAlertsForMyOrg:
    get:
      tags:
      - Task
      operationId: Task_GetTasksWithFailureAlertsForMyOrg
      parameters:
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paginated List of FailureAlertDtos
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FailureAlertDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FailureAlertDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FailureAlertDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FailureAlertDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized
      summary: Task get tasks with failure alerts for my org
      x-summary-source: derived
  /api/Task/ConsolidateTasksForMyOrg:
    post:
      tags:
      - Task
      operationId: Task_ConsolidateTasksForMyOrg
      responses:
        '401':
          description: Not logged in
        '403':
          description: Not authorized
        '404':
          description: If one or more tracking refs is invalid
        '204':
          description: Ok
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
        required: true
      summary: Task consolidate tasks for my org
      x-summary-source: derived
  /api/Task/CancelTasksForMyOrg:
    post:
      tags:
      - Task
      operationId: Task_CancelTasksForMyOrg
      responses:
        '401':
          description: Not logged in
        '403':
          description: Not authorized
        '404':
          description: If one or more tracking refs is invalid
        '204':
          description: Ok
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
        required: true
      summary: Task cancel tasks for my org
      x-summary-source: derived
  /api/Task/GetConsignmentsForMyOrg:
    get:
      tags:
      - Task
      operationId: Task_GetConsignmentsForMyOrg
      responses:
        '200':
          description: List of pending Consignments
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsignmentDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsignmentDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsignmentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsignmentDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized
      summary: Task get consignments for my org
      x-summary-source: derived
  /api/Task/GetConsolidatedTasksForConsignmentInMyOrg:
    get:
      tags:
      - Task
      operationId: Task_GetConsolidatedTasksForConsignmentInMyOrg
      parameters:
      - name: consignmentId
        in: query
        schema:
          type: string
          format: guid
      - name: pageNum
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paginated Tasks in Consignment
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized
      summary: Task get consolidated tasks for consignment in my org
      x-summary-source: derived
  /api/Task/UpdateInstructionsForFailureAlertInMyOrg:
    post:
      tags:
      - Task
      operationId: Task_UpdateInstructionsForFailureAlertInMyOrg
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Updated Task
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TaskDto'
            text/csv:
              schema:
                $ref: '#/components/schemas/TaskDto'
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDto'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDto'
        '404':
          description: Invalid TrackingRef
        '412':
          description: Task's current state does not allow this action
        '400':
          description: Invalid request params
        '401':
          description: Not logged in
        '403':
          description: Not allowed to perform this action
        '409':
          description: Concurrent modification
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
        required: true
      summary: Task update instructions for failure alert in my org
      x-summary-source: derived
  /api/Task/GetLabelsPdf:
    get:
      tags:
      - Task
      operationId: Task_GetLabelsPdf
      parameters:
      - name: trackingRefsCsv
        in: query
        schema:
          type: string
      responses:
        '200':
          description: PDF Bytes
          content:
            application/json:
              schema:
                type: string
                format: byte
        '404':
          description: Invalid TrackingRef
        '400':
          description: Invalid request params
      summary: Task get labels pdf
      x-summary-source: derived
  /api/Task/GetTaskAuditTrail:
    get:
      tags:
      - Task
      operationId: Task_GetTaskAuditTrail
      parameters:
      - name: trackingRef
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Audit Trail
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskAuditTrail'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskAuditTrail'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskAuditTrail'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskAuditTrail'
        '404':
          description: Invalid TrackingRef
        '401':
          description: Not logged in
        '403':
          description: No access
      summary: Task get task audit trail
      x-summary-source: derived
components:
  schemas:
    BulkTaskUploadDto:
      type: object
      required:
      - merchantPickupPointAddressId
      properties:
        csv:
          type: string
        merchantPickupPointAddressId:
          type: integer
          format: int32
    ValidationResultOfUnsignedDecimal:
      type: object
      x-abstract: true
    TaskDto:
      type: object
      required:
      - cashToCollect
      - stockValue
      properties:
        trackingRef:
          type: string
        merchantRef:
          type: string
        physique:
          $ref: '#/components/schemas/PhysiqueDto'
        addressInfo:
          $ref: '#/components/schemas/AddressInfoDto'
        slotStart:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        slotEnd:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        cashToCollect:
          type: number
          format: decimal
        stockValue:
          type: number
          format: decimal
        weight:
          type: string
        status:
          type: string
        taskType:
          type: string
        merchantHub:
          $ref: '#/components/schemas/FSharpOptionOfString'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/TaskNoteDto'
    ConfidenceLevelDto:
      type: object
    TaskAuditTrail:
      type: object
      required:
      - lastActionOn
      - stateTransitionedOn
      properties:
        tripStatus:
          type: string
        lastActionOn:
          type: string
          format: date-time
        stateTransitionedOn:
          type: string
          format: date-time
        failedOrRejectReason:
          $ref: '#/components/schemas/FSharpOptionOfString'
    PhysiqueDto:
      type: object
      x-abstract: true
    ValidatedRow:
      type: object
      properties:
        merchantRef:
          $ref: '#/components/schemas/ValidationResultOfString'
        name:
          $ref: '#/components/schemas/ValidationResultOfString'
        address:
          $ref: '#/components/schemas/ValidationResultOfString'
        phone:
          $ref: '#/components/schemas/ValidationResultOfString'
        amountToCollect:
          $ref: '#/components/schemas/ValidationResultOfUnsignedDecimal'
        stockValue:
          $ref: '#/components/schemas/ValidationResultOfUnsignedDecimal'
        note:
          $ref: '#/components/schemas/ValidationResultOfString'
    TaskCreateDto:
      type: object
      required:
      - refId
      - physique
      - address
      - cashToCollect
      - stockValue
      - note
      properties:
        refId:
          type: string
          minLength: 1
        physique:
          $ref: '#/components/schemas/PhysiqueDto'
        address:
          $ref: '#/components/schemas/AddressInputDto'
        slotStart:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        slotEnd:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        cashToCollect:
          type: number
          format: decimal
        stockValue:
          type: number
          format: decimal
        note:
          type: string
          minLength: 1
        merchantPickupPointAddressId:
          $ref: '#/components/schemas/AddressId'
    TaskNoteDto:
      type: object
      required:
      - noteId
      - createdOn
      - createdBy
      properties:
        noteId:
          type: string
          format: guid
        createdOn:
          type: string
          format: date-time
        createdBy:
          type: string
          format: guid
        note:
          type: string
    AddressId:
      type: object
    TupleOfStringAndTaskDto:
      type: object
      required:
      - item1
      - item2
      properties:
        item1:
          type: string
        item2:
          $ref: '#/components/schemas/TaskDto'
    FailureAlertDto:
      type: object
      properties:
        task:
          $ref: '#/components/schemas/TaskDto'
        message:
          type: string
    AddressInfoDto:
      type: object
      required:
      - identity
      properties:
        address:
          $ref: '#/components/schemas/AddressIdDto'
        identity:
          type: string
          format: guid
        fullName:
          type: string
        streetAddress:
          type: string
        phoneNumber:
          type: string
        deliveryArea:
          $ref: '#/components/schemas/DeliveryAreaDto'
        customerHub:
          type: string
        geoLocation:
          $ref: '#/components/schemas/FSharpOptionOfGeoLocationDto'
        confidenceLevel:
          $ref: '#/components/schemas/ConfidenceLevelDto'
    AddressIdDto:
      type: object
    ExchangeTaskCreateDto:
      type: object
      required:
      - refId
      - deliveryPhysique
      - pickUpPhysique
      - address
      - cashToCollect
      - deliveryStockValue
      - pickUpStockValue
      - note
      properties:
        refId:
          type: string
          minLength: 1
        deliveryPhysique:
          $ref: '#/components/schemas/PhysiqueDto'
        pickUpPhysique:
          $ref: '#/components/schemas/PhysiqueDto'
        address:
          $ref: '#/components/schemas/AddressInputDto'
        slotStart:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        slotEnd:
          $ref: '#/components/schemas/FSharpOptionOfDateTimeOffset'
        cashToCollect:
          type: number
          format: decimal
        deliveryStockValue:
          type: number
          format: decimal
        pickUpStockValue:
          type: number
          format: decimal
        note:
          type: string
          minLength: 1
        merchantPickupPointAddressId:
          $ref: '#/components/schemas/AddressId'
    ValidationResultOfString:
      type: object
      x-abstract: true
    MapTreeOfStringAndString:
      type: object
    ConsignmentDto:
      type: object
      required:
      - id
      - requestTime
      properties:
        id:
          type: string
          format: guid
        requestTime:
          type: string
          format: date-time
        trackingRefToStatus:
          $ref: '#/components/schemas/FSharpMapOfStringAndString'
    KeyValuePairOfStringAndTaskDto:
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
        value:
          $ref: '#/components/schemas/TaskDto'
    AddressInputDto:
      type: object
      x-abstract: true
    FSharpMapOfStringAndString:
      type: object
      required:
      - IsEmpty
      - Count
      properties:
        comparer@686:
          $ref: '#/components/schemas/IComparerOfString'
        tree@690:
          $ref: '#/components/schemas/MapTreeOfStringAndString'
        serializedData:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndString'
        Comparer:
          $ref: '#/components/schemas/IComparerOfString'
        Tree:
          $ref: '#/components/schemas/MapTreeOfStringAndString'
        IsEmpty:
          type: boolean
        Item:
          type: string
        Count:
          type: integer
          format: int32
        Keys:
          type: array
          items:
            type: string
        Values:
          type: array
          items:
            type: string
        MinKeyValue:
          $ref: '#/components/schemas/TupleOfStringAndString'
        MaxKeyValue:
          $ref: '#/components/schemas/TupleOfStringAndString'
    DeliveryAreaDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DeliveryAreaIdDto'
        name:
          type: string
    KeyValuePairOfStringAndString:
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
        value:
          type: string
    FSharpOptionOfString:
      type: object
    TupleOfStringAndString:
      type: object
      required:
      - item1
      - item2
      properties:
        item1:
          type: string
        item2:
          type: string
    IComparerOfString:
      type: object
      x-abstract: true
    DeliveryAreaIdDto:
      type: object
    MapTreeOfStringAndTaskDto:
      type: object
    FSharpOptionOfGeoLocationDto:
      type: object
    FSharpMapOfStringAndTaskDto:
      type: object
      required:
      - IsEmpty
      - Count
      properties:
        comparer@686:
          $ref: '#/components/schemas/IComparerOfString'
        tree@690:
          $ref: '#/components/schemas/MapTreeOfStringAndTaskDto'
        serializedData:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndTaskDto'
        Comparer:
          $ref: '#/components/schemas/IComparerOfString'
        Tree:
          $ref: '#/components/schemas/MapTreeOfStringAndTaskDto'
        IsEmpty:
          type: boolean
        Item:
          $ref: '#/components/schemas/TaskDto'
        Count:
          type: integer
          format: int32
        Keys:
          type: array
          items:
            type: string
        Values:
          type: array
          items:
            $ref: '#/components/schemas/TaskDto'
        MinKeyValue:
          $ref: '#/components/schemas/TupleOfStringAndTaskDto'
        MaxKeyValue:
          $ref: '#/components/schemas/TupleOfStringAndTaskDto'
    FSharpOptionOfDateTimeOffset:
      type: object
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
