swagger: '2.0'
info:
  title: My Title Accounts Organization API
  version: 1.0.0
host: eggtransport.chaldal.com
schemes:
- https
tags:
- name: Organization
paths:
  /api/Organization/CreateOrganization:
    post:
      tags:
      - Organization
      operationId: Organization_CreateOrganization
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - name: orgDetails
        in: body
        required: true
        schema:
          $ref: '#/definitions/OrganizationDto'
        x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: Creates a new Organization and assigns a manager to the organization
          schema:
            type: integer
            format: int32
        '401':
          description: Not logged in
        '500':
          description: Insert Organization operation failed
  /api/Organization/GetOrgStatus:
    post:
      tags:
      - Organization
      operationId: Organization_GetOrgStatus
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      responses:
        '200':
          x-nullable: false
          description: Retrives Organization status
          schema:
            $ref: '#/definitions/FSharpOptionOfOrgVerificationStatusDto'
        '401':
          description: Not logged in
        '400':
          description: OrgId does not exist
  /api/Organization/AddOrgPickupPoint:
    post:
      tags:
      - Organization
      operationId: Organization_AddOrgPickupPoint
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - name: addressDetails
        in: body
        required: true
        schema:
          $ref: '#/definitions/OrgPickupPointDto'
        x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: Creates a new Address and assigns it to an organization
          schema:
            type: integer
            format: int32
        '401':
          description: Not logged in
        '500':
          description: Insert Address operation failed
  /api/Organization/GetOrgPickupPoints:
    get:
      tags:
      - Organization
      operationId: Organization_GetOrgPickupPoints
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      responses:
        '200':
          x-nullable: false
          description: Fetches addresses of an organization
          schema:
            type: integer
            format: int32
        '401':
          description: Not logged in
  /api/Organization/GetOrgPickupPointByTrackingRef:
    get:
      tags:
      - Organization
      operationId: Organization_GetOrgPickupPointByTrackingRef
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - type: string
        name: trackingRef
        in: query
        x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: Fetches address by tracking ref
          schema:
            type: integer
            format: int32
        '401':
          description: Not logged in
        '404':
          description: No address found
definitions:
  FSharpOptionOfString:
    type: object
  MerchantIDTypeDto:
    type: object
  BusinessTypeDto:
    type: object
  PaymentTypeDto:
    type: object
  OrganizationDto:
    type: object
    properties:
      businessDetails:
        $ref: '#/definitions/BusinessDetailsDto'
      businessType:
        $ref: '#/definitions/BusinessTypeDto'
      paymentType:
        $ref: '#/definitions/PaymentTypeDto'
      bKashDetails:
        $ref: '#/definitions/FSharpOptionOfBkashDetailsDto'
      bankDetails:
        $ref: '#/definitions/FSharpOptionOfBankDetailsDto'
      idType:
        $ref: '#/definitions/MerchantIDTypeDto'
      nidFront:
        $ref: '#/definitions/FSharpOptionOfString'
      nidBack:
        $ref: '#/definitions/FSharpOptionOfString'
      passport:
        $ref: '#/definitions/FSharpOptionOfString'
      birthCertificate:
        $ref: '#/definitions/FSharpOptionOfString'
  OrgPickupPointDto:
    type: object
    required:
    - deliveryAreaId
    properties:
      pickupPointName:
        type: string
      address:
        type: string
      deliveryAreaId:
        type: integer
        format: int32
      phone:
        type: string
  FSharpOptionOfBkashDetailsDto:
    type: object
  FSharpOptionOfBankDetailsDto:
    type: object
  FSharpOptionOfOrgVerificationStatusDto:
    type: object
  BusinessDetailsDto:
    type: object
    required:
    - deliveryAreaId
    properties:
      ownersName:
        type: string
      email:
        type: string
      phone:
        type: string
      businessName:
        type: string
      address:
        type: string
      deliveryAreaId:
        type: integer
        format: int32
      businessUrl:
        type: string
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
