swagger: '2.0'
info:
  title: My Title Accounts Identity API
  version: 1.0.0
host: eggtransport.chaldal.com
schemes:
- https
tags:
- name: Identity
paths:
  /api/Identity/GetDeliveryAreas:
    get:
      tags:
      - Identity
      operationId: Identity_GetDeliveryAreas
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DeliveryArea'
  /api/Identity/SearchForIdentityInMyOrg:
    post:
      tags:
      - Identity
      operationId: Identity_SearchForIdentityInMyOrg
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - type: string
        name: phoneNumber
        in: query
        x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: Possibly Profile and Addresses
          schema:
            $ref: '#/definitions/FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto'
        '403':
          description: Not authorized to view customers for Org
        '401':
          description: Not logged in
  /api/Identity/GetAddressInfoFromAddressIdInMyOrg:
    get:
      tags:
      - Identity
      operationId: Identity_GetAddressInfoFromAddressIdInMyOrg
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - type: integer
        name: addressId
        in: query
        format: int32
        x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: Address Info
          schema:
            $ref: '#/definitions/AddressInfoDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized to view customer Info
  /api/Identity/GetAddressInfoListFromAddressIdListInMyOrg:
    get:
      tags:
      - Identity
      operationId: Identity_GetAddressInfoListFromAddressIdListInMyOrg
      produces:
      - text/plain
      - text/csv
      - application/json
      - text/json
      parameters:
      - type: string
        name: addressIdList
        in: query
        x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: Address Infos
          schema:
            type: array
            items:
              $ref: '#/definitions/AddressInfoDto'
        '401':
          description: Not logged in
        '403':
          description: Not authorized to view customer Info
definitions:
  FSharpOptionOfGeoLocationDto:
    type: object
  AddressIdDto:
    type: object
  DeliveryAreaId:
    type: object
  DeliveryArea:
    type: object
    properties:
      id:
        $ref: '#/definitions/DeliveryAreaId'
      name:
        type: string
  DeliveryAreaIdDto:
    type: object
  FSharpOptionOfTupleOfIdentityProfileAndIEnumerableOfAddressInfoDto:
    type: object
  ConfidenceLevelDto:
    type: object
  AddressInfoDto:
    type: object
    required:
    - identity
    properties:
      address:
        $ref: '#/definitions/AddressIdDto'
      identity:
        type: string
        format: guid
      fullName:
        type: string
      streetAddress:
        type: string
      phoneNumber:
        type: string
      deliveryArea:
        $ref: '#/definitions/DeliveryAreaDto'
      customerHub:
        type: string
      geoLocation:
        $ref: '#/definitions/FSharpOptionOfGeoLocationDto'
      confidenceLevel:
        $ref: '#/definitions/ConfidenceLevelDto'
  DeliveryAreaDto:
    type: object
    properties:
      id:
        $ref: '#/definitions/DeliveryAreaIdDto'
      name:
        type: string
x-generator: NSwag v13.10.8.0 (NJsonSchema v10.3.11.0 (Newtonsoft.Json v13.0.0.0))
